html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

html,
body > div {
  height: 100%;
}

.MuiIconButton-root {
  padding: 0 !important;
}

.mountain-website-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red !important;
  opacity: 1; /* Firefox */
}

.mountain-website-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red !important;
}

.mountain-website-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}
